//-------------------------
// ESQUEMA DE COLORES
//-----------------------
$texto:#111111;
$principal:#12AFAF;
$secundario:#009500;
html {
    font-size: 15px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: $texto;
}
.bienvenidos {
    background: url("../images/.jpg") no-repeat center top;
    color: #111111;
    background-size: cover;
    background-attachment: fixed !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.encabezado {
    background: $texto;
    color: #fff;
    padding: .5rem 0;
    transition: all .5s ease;
}
.encabezado.fondo-menu {
    background: #064e4e;
    padding: 1rem 0;
}
.encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.encabezado .logo img {
    width: 100px;
    height: auto;
}
/*Estilos para el boton: buscar y menu*/

.boton-buscar,
.boton-menu {
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: #fff;
}
.boton-buscar:focus,
.boton-menu:focus {
    outline: 0;
}
.boton-buscar {
    margin-left: auto;
    margin-right: .8rem;
}
/*Estilos bloque buscar*/

#bloque-buscar {
    flex: 1 1 100%;
}
.contenedor-bloque-buscar {
    display: flex;
    height: 3rem;
    margin: 1rem 0;
}
.contenedor-bloque-buscar input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    flex: 1 1 auto;
}
.contenedor-bloque-buscar input[type="submit"] {
    flex: 1 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $principal;
    color: #fff;
    flex: 0 1 auto;
    padding: 0 1rem;
}
#menu-principal {
    flex: 1 1 100%;
}
#menu-principal ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
}
#menu-principal ul a {
    display: block;
    padding: .8rem 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-top: 1px solid #8c8888;
    text-decoration: none;
}
#menu-principal ul a:hover,
#menu-principal ul li.active a {
    color: $principal;
}
