//-------------------------
// ESQUEMA DE COLORES
//-----------------------
$texto:#111111;
$principa:#12AFAF;
$secundario:#009500;

html{
  font-size: 15px;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #111111;
}
.encabezado{
  background: $texto;
  color: #fff;
  padding: .5rem 0;
}
.encabezado .container{
  display: flex;
  align-items: center;
}
.encabezado .logo img{
  width: 150px;
  height: auto;
}
